
$primary: #836EF9;
$zindex-dropdown: 1060;

$bs-body-bg: #836EF9;

 
[data-bs-theme=dark] {
    --bs-body-bg: #141416 !important; 
} 

[data-bs-theme=light] {
    --bs-body-bg: #F4F5F7 !important; 
} 



.btn-primary {
    --bs-btn-color: #fff !important;
    --bs-btn-active-color: #fff !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-disabled-color: #fff !important;
}

.dropdown-toggle::after {
    display: none !important;
}

button.active {
    background-color: var(--bs-tertiary-bg) !important;
    border-bottom-color: var(--bs-tertiary-bg) !important;
}
 
// Import all of Bootstrap's CSS
@import "../node_modules/bootstrap/scss/bootstrap.scss";


 




