
$primary: #836EF9;
$zindex-dropdown: 1060;
$bs-body-bg: #836EF9;

@font-face {
    font-family: 'Satoshi' ;  
    src: url('../fonts/Satoshi-Bold.ttf');  
}

body {
    font-family: "Satoshi", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
}
 
.btn-primary {
    --bs-btn-color: #fff !important;
    --bs-btn-active-color: #fff !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-disabled-color: #fff !important;
}

.dropdown-toggle::after {
    display: none !important;
}

button.active {
    background-color: var(--bs-tertiary-bg) !important;
    border-bottom-color: var(--bs-tertiary-bg) !important;
}
 
input[type="checkbox"] {
    transform: scale(1.6);
}

.gradient {
    background: linear-gradient(45deg, #836EF9,#916ff7 70%, #916ff7 80%, #916ff7 90%, #916ff7);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.2;
    padding-bottom: .1em;
}

.preview { 
    min-width: 270px !important;
    min-height: 270px !important;
}

.image-preview { 
    min-width: 160px;
    max-width: 100%;
    width: 100%;
}

.card-preview { 
    max-width: 384px;
    max-height: 202px;
    width: 100%;
}

.nav::after {
    display:none !important;
}

 
.dropdown-toggle::after {
    display:none;
}

.dropdown-menu::after {
    display:none;
}

.dropup::after {
    display:none;
}

.textbreak {
    overflow-wrap: break-word !important;
}
 
// Import all of Bootstrap's CSS
@import "../node_modules/bootstrap/scss/bootstrap.scss";


 




