 

 
@font-face {
    font-family: 'Satoshi Variable';  
    src: url('../fonts/Satoshi-Variable.ttf');  
}


.btn-primary {
    background-color: #836EF9 !important;
}

.color-primary {
    color: #836EF9 !important;
}

.bg-primary {
    background-color: #836EF9 !important;
}

input[type="checkbox"] {
    transform: scale(1.6);
}

.gradient {
    background: linear-gradient(45deg, #836EF9,#916ff7 70%, #916ff7 80%, #916ff7 90%, #916ff7);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.2;
    padding-bottom: .1em;
}

body {
    font-family: "Satoshi Variable", serif !important;
} 

.logo {
    font-weight: 900!important
}

.preview { 
    min-width: 270px !important;
    min-height: 270px !important;  
}