 

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
 

.btn-primary {
    background-color: #836EF9 !important;
}

.color-primary {
    color: #836EF9 !important;
}

.bg-primary {
    background-color: #836EF9 !important;
}

input[type="checkbox"] {
     
    transform: scale(1.5);
}

.gradient {
    background: linear-gradient(45deg, #836EF9,#916ff7 70%, #916ff7 80%, #916ff7 90%, #916ff7);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.2;
    padding-bottom: .1em;
}

body {
    font-family: "Ubuntu", serif !important;
} 

     